[submodule "submodules/cor-asv-ann"]
	path = submodules/cor-asv-ann
	url = https://github.com/ASVLeipzig/cor-asv-ann
[submodule "submodules/cor-asv-fst"]
	path = submodules/cor-asv-fst
	url = https://github.com/ASVLeipzig/cor-asv-fst
[submodule "submodules/ocrd_calamari"]
	path = submodules/ocrd_calamari
	url = https://github.com/OCR-D/ocrd_calamari
[submodule "submodules/ocrd_im6convert"]
	path = submodules/ocrd_im6convert
	url = https://github.com/OCR-D/ocrd_im6convert
[submodule "submodules/ocrd_keraslm"]
	path = submodules/ocrd_keraslm
	url = https://github.com/OCR-D/ocrd_keraslm
[submodule "submodules/ocrd_kraken"]
	path = submodules/ocrd_kraken
	url = https://github.com/OCR-D/ocrd_kraken
[submodule "submodules/ocrd_olena"]
	path = submodules/ocrd_olena
	url = https://github.com/OCR-D/ocrd_olena
[submodule "submodules/ocrd_segment"]
	path = submodules/ocrd_segment
	url = https://github.com/OCR-D/ocrd_segment
[submodule "submodules/ocrd_tesserocr"]
	path = submodules/ocrd_tesserocr
	url = https://github.com/OCR-D/ocrd_tesserocr
[submodule "submodules/ocrd_cis"]
	path = submodules/ocrd_cis
	url = https://github.com/cisocrgroup/ocrd_cis
[submodule "submodules/ocrd_anybaseocr"]
	path = submodules/ocrd_anybaseocr
	url = https://github.com/OCR-D/ocrd_anybaseocr
[submodule "submodules/dinglehopper"]
	path = submodules/dinglehopper
	url = https://github.com/qurator-spk/dinglehopper
[submodule "submodules/ocrd_typegroups_classifier"]
	path = submodules/ocrd_typegroups_classifier
	url = https://github.com/OCR-D/ocrd_typegroups_classifier
